/*  Add your styling here */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    }
    /*  Add your styling here */
    
    .containerOneImg {
        height: 100%;
      }
      .jumbotron {
        background-color: #295066;
        padding: 2rem 2rem;
        color: rgb(179, 126, 126)
      }
      .bottom-text {
          color: rgb(96, 156, 150);
        bottom: 0;
        right: 0;
      }
      
      .bg-dark {
        background-color: #977777 !important;
      }
      .navbar-dark .navbar-brand{
          color:green;
      }
      .navbar-dark .navbar-nav .nav-link {
          background: #a06060;
          color: rgb(36, 18, 18);
          border-radius: 5px;
          padding-left: 2em;
          padding-right: 2em;
      }
      .nav-item{
          padding-left: 1em;
          color: turquoise;
    
      }
      .navbar-brand{
          display: none;
      }
      .navbar{
          padding: 1.5rem 2rem !important;
          
          
      }
      .navbar-toggler{
          background-color: rgb(52, 87, 116);
    
      }
      
      .fc{
          padding: 0.5rem 1rem;
      }
      
      
      @media (min-width: 576px) { 
      
          .nav{
              display: block;
          }
      }
      
      